body{

    background-image: url(../img/login_img/bgc1.png);
    height: 992px;
}
.login_body{
    position:absolute;
    display: block;
    width: 450px;
    height: 593px;
    top:50%;
    left:50%;
    margin-top: -275px;
    margin-left:-225px;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow:0 9px 30px -6px rgba(0,0,0,.2),
                0 18px 20px -10px rgba(0,0,0,.04),
                0 18px 20px -10px rgba(0,0,0,.04),
                0 10px 20px -10px rgba(0,0,0,.04);
    background-color: #fff;
}
.top{
    background: linear-gradient(#fff,#f5f5f5);
    height: auto;
    overflow: visible;
    background: linear-gradient(#fff,#f5f5f5);
    height: auto;
    overflow: visible;
    border-radius: 13px 13px 0 0;
    width: 450px;
    height: 62px;
    margin-bottom:30px;
}
.top h4{
    text-align: center;
    color: #666;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 700;
    font-size: 20px;
    height: 61px;
    line-height: 61px;
}
.login_body .bottom{
    width: 370px;
    height: 288px;
    padding: 0 40px 22px;
}
/*注册表元素*/
.form_d ul{
    list-style: none;
    margin-bottom: 15px;
    height: 138px;
    width: 370px;
}
.form_d ul li:first-child,.form_d ul li:nth-child(2),.form_d ul li:nth-child(3),.form_d ul li:nth-child(4),.form_d ul li:nth-child(5){
    width: 370px;
    height: 48px;
    margin-bottom: 15px;
}
.form_include{
    width: 386px;
    height: 46px;
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    position:relative;
}
.form_include span{
    height: 46px;
    width: 46px;
    border-radius: 6px 0 0 6px;
    border-right: solid 1px #ccc;
    box-shadow: 1px 0 3px -1px rgba(0,0,0,.1);
    float: left;
    background: -webkit-linear-gradient(#f8f8f8,#fafafa);
}
.form_include span i{
    display:inline-block;
    background-image:url(../img/login_img/input.png);
    height: 46px;
    width: 46px;
    cursor: pointer;
}
#form_county>i{
    background-position: -191px 0;
}
#form_phone>i{
    background-position: -1px 0;
}
#form_yan>i{
    background-position: -96px 0;
}
#form_pwdd>i{
     background-position: -47px 0;
 }
#form_repeat>i{
    background-position: -1px 0;
}
.form_d ul li:first-child span:last-child{
    position: absolute;
    right: 10px;
    font-size: 15px;
    text-align: right;
    border:none;
    color:#a0a0a0;
    background:none;
    box-shadow: none;
}
.form_d ul li:nth-child(2) div label{
    color:#a0a0a0;
    opacity: 1;
}
.form_d ul li:nth-child(2) div input{
    left:37px;
    opacity:0.5;
    padding: 12px 12px 12px 58px;
}
.form_d ul li:nth-child(3)>div{
    float:left;
    width: 240px;
}
.form_d ul li:nth-child(3) .click{
    float:right;
    margin-right: 0;
    width: 119px;
    background-color: rgba(204,204,204,.618);
    border-radius: 6px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    text-shadow: rgba(255,255,255,.496094) 0 1px 0;
}
.form_include label{
    color: #bebebe;
    float: left;
    font-size: 16px;
    position: absolute;
    left: 62px;
    top: 0;
}
.form_include input{
    position: absolute;
    left:47px;
    width: 307px;
    height: 20px;
    padding: 12px 12px 12px 15px;
    color: #333;
    font-size: 16px;
    z-index: 1;
    cursor: text;
    border:none;
    opacity:0.5;
}
.form_include input:focus { outline: none; }
/*input附件*/
#input_bottom{
    width: 360px;
    height: 20px;
    margin: 15px 5px 25px;
}
.select{
    width: 360px;
    height: 20px;
    margin-left: 10px;
    position:relative;
}
.select p{
    display: inline;
    width: 386px;
    height: 20px;
    color: #999;
    font-size: 12px;
    position: absolute;
    top:0px;
    left:30px;
}
.select span{
    display:inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/login_img/select.png);
}
.select a{
    font-size: 12px;
    color: #5079d9;
}
/*登陆按钮*/
.login_button{
    width: 370px;
    height: 48px;
    position:absolute;
    top:456px;
}
.login_button>div{
    width: 370px;
    height: 46px;
    padding: 1px;
    margin-bottom:12px;
    border-radius: 6px;
    text-align: center;
    text-shadow: rgba(255,255,255,.496094) 0 1px;
}
.login_button a{
    display:block;
    width: 370px;
    height: 46px;
    background: linear-gradient(#6f97e5,#527ed9);
    box-shadow: inset 0 1px 2px #7ea1e8;
    color: #fff;
    text-shadow: #4f70b3 0 -1px 0;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
}
/*先在登陆*/
.nowLogin{
    position: absolute;
    bottom:28px;
    width: 372px;
    height: 12px;
    padding-top:24px;
    border-top: 1px solid #dadada;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}
.nowLogin p{
    color: #999;
    font-size: 12px;
    text-align: center;
}
.nowLogin p a{
    color: #5079d9;
}
/*底部版权信息*/
#copy{
    position:absolute;
    width: 100%;
    height: 38px;
    top: 900px;
    margin-bottom:60px;
}
.copy_top{
    width: 688px;
    height: 15px;
    margin:0 auto;
}
.copy_top h2{
    display: inline-block;
    height: 15px;
    line-height: 15px;
    color: rgb(117, 117, 117);
    font-size:5px;
    font-weight: 100;
}
.copy_top ul{
    list-style: none;
    float:right;
}
.copy_top ul li{
    float:right;
    width: 69px;
    height: 15px;
}
.copy_top ul li a{
    display:inline-block;
    height: 15px;
    line-height: 15px;
    color:#5079d9;
    font-size:5px;
    font-weight: 100;
    border-left:#d9d9d9;
}

.copy_bottom{
    width: 688px;
    height: 15px;
    margin:0 auto;
    text-align: center;
}
.copy_bottom a{
    display:inline-block;
    height: 15px;
    line-height: 15px;
    color:#5079d9;
    font-size:5px;
    font-weight: 100;

}